<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color: rgb(21, 222, 10);"> bhuvi Page</h1>
        <h1 style="color: rgb(255, 98, 0);"">This is rendered by generic url mapping</h1>
        <h1> It was a kind of headline that catches Indian eyes. First there was a mention of the word Tendulkar. ‘Teenage prodigy knocks over Tendulkar for a duck’. There was a whisper of a 19-year-old, who had worked out Sachin Tendulkar in the domestic circuit and bowled him out for his first ever duck in domestic first-class cricket.

            Bhuvneshwar Kumar, born in Meerut, the manufacturing home of the SG ball, shot into the limelight when he debuted on Christmas Day in 2012, making the white Kookaburra zip all around the Pakistani bats at the Chinnaswamy Stadium in Bengaluru. A demonstration of nagging swing bowling in the shortest format of the game in batting-friendly conditions was a fine way to make the world sit up and take notice of this precocious talent.
            
            Having made the usually unresponsive white Kookaburra talk in a high-pressure game against Pakistan, and with a dearth of quality fast-bowling in the country, Bhuvneshwar was given the nod by the selectors for the Chennai Test against Australia in 2013. Bhuvneshwar was selected in the ODI squad for the Champions Trophy in 2013. He was later selected for the tri-nation tournament where he claimed career best figures of 4-8 against Sri Lanka. He was awarded the Man of the Series, having finished the series with the maximum number of wickets.</h1>
        <a href="{% url 'kkr:venkatesh' %}">Go to bhuvi page</a>
    </center>
</body>
</html>