<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color: brown;">Welcome to venkatesh page</h1>
        <h1 style="color: blue;">This is rendered by specific url mapping</h1>
        <h1> Iyer scored a majestic 41 vs RCB and then 53 vs MI
            Venkatesh Iyer could very well have been a finance professional by now. Instead, the 6'4 tall cricketer is making many stand up and take notice with a spectacular start to his Indian Premier League (IPL) career. Playing for Kolkata Knight Riders (KKR) in IPL 2021 in the United Arab Emirates (UAE), Iyer scored an unbeaten 41 on his debut against Royal Challengers Bangalore, helping KKR to a comfortable nine-wicket win. In the next game, against Mumbai Indians on Thursday, the 26-year-old Iyer smashed 53 as KKR completed another successful chase, this time winning by eight wickets.
            
            
            The Indore-born player, who represents Madhya Pradesh in the domestic circuit, could have had a different career though.
            
            Once a CA aspirant, Iyer decided to sit out his finals in order to focus on cricket. "I decided to give up my CA and pursue an MBA in finance," Iyer told ESPNCricinfo.
            
            "I gave a lot of entrance exams, had decent scores, and enrolled into a good college. I was fortunate the faculty liked cricket, and they saw I was doing well, and gave me the cushion by taking care of my attendance, preparing notes and rescheduling exams.
            
            "Honestly, I didn't have to put in a lot of effort to manage both. I'm not bragging, I've always been a bright student, I can't say the same about my cricket. That is the kind of confidence I have in my academics. Had there been no cricket, I would have landed in an IIT or IIM," he added in the ESPNCricinfo interview.
            
            Iyer's opening two games in the IPL have already seen him earn praise from various quarters.
            
            Listen to the latest songs, only on JioSaavn.com
            
            "We were trying to fit Iyer into the XI with a lot of talented guys, and it's fantastic with the manner he has scored runs," KKR skipper Eoin Morgan told host broadcaster Star Sports at the post-match presentation on Thursday.
            
            "We never put a number on him, on how many games he will get. In the practice games, he has gone out to play this way. Baz backs him to the hilt. Just a second game for him but played with full confidence," Morgan added.</h1>

        <a href="{% url 'bhuvi' %}">Navigate to bhuvi</a>
    </center>
</body>
</html>